
.logo img {
    max-height: 100px; /* Ajustez la hauteur maximale selon vos besoins */
    max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur du conteneur */
}
.photo-preview-container {
    width: 50px; /* Définir la largeur du conteneur */
    height: 50px; /* Définir la hauteur du conteneur */
    overflow: hidden; /* Cacher tout contenu dépassant du conteneur */
    border-radius: 50%; /* Créer un cercle en utilisant un bord arrondi à 50% de la largeur/hauteur */
    display: inline-block; /* Permet d'aligner l'élément à côté de l'input */
    margin-left: 10px; /* Ajuster la marge pour l'espacement */
}

.photo-profil-preview {
    width: 60px; /* Définir la largeur du cercle */
    height: 60px; /* Définir la hauteur du cercle */
    object-fit: cover; /* Couvrir tout le cercle tout en préservant les proportions de l'image */
    border-radius: 50%; /* Assurer que l'image est affichée en tant que cercle */
    display: block; /* Résoudre tout problème d'espacement supplémentaire */
    margin-top: 5px; /* Ajuster la marge supérieure pour l'espacement */
}

.profile-photo {
    width: 60px; /* Ajustez la taille selon vos besoins */
    height: 60px;
    border-radius: 50%; /* Pour une photo de profil arrondie */
    margin-right: 10px; /* Espace entre la photo et le texte */
}

.stylish-username {
    font-size: 1.5rem; /* Larger font size */
    color: #4CAF50; /* Bright green color */
    font-weight: bold; /* Make it bold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle text shadow for depth */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.stylish-username:hover {
    color: #34A853; /* Slightly different green on hover */
    text-decoration: none; /* Removes underline on hover */
}

.icon-large {
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}

.icon-large:hover {
    color: #0056b3; /* Darker blue on hover */
}

body {
    background-image: url('/img/background_accueil.jpg');;
    color: white;
    
}

body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stacks items vertically */
}

.header {
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px; /* Permet au logo de rester à gauche */
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: Helvetica, sans-serif; /* Added sans-serif as a fallback */
    margin-top: 1rem;
    margin-left: 15px;
}

.highlight {
    font-size: 5rem; /* Make the font size larger */
    color: #007bff; /* Set the color to blue */
}


.header-links {
    margin-left: auto; /* Permet au contenu des liens de rester à droite */
} 

.header-links a {
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
}

.header-content{
    margin-left:auto;
}

.menu {
    background-color: #7A8ED3;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.list-group-item {
    background-color: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    margin-top: 20px;
}

.main-content {
    text-align: center;
}

.imgcours1,
.imgcours2,
.imgcours3{
    width:  400px;;
    height:  175px;
}

.main-content {
    display: flex; /* Use flex display */
    flex-direction: column; /* Stack the children vertically */
    align-items: center; /* Center children horizontally */
    height: 80vh; /* Make the container full height of the viewport */
    text-align: center; /* Center text */
}

.container {
    display: flex; /* Use flex display */
    justify-content: space-around; /* Space buttons evenly */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Space inside the container */
    max-width: 1200px; /* Maximum width of the container */
    width: 100%; /* Full width */
}

.btn-large {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 10px; /* Adds margin around the buttons */
    padding: 20px 40px; /* Adds padding inside the buttons */
    font-size: 1.5rem; /* Increases the font size */
    font-weight: bold; /* Makes the text bold */
    color: white; /* Sets the text color to white */
    background-color: #007bff; /* Sets the background color to blue */
    border-radius: 5px; /* Rounds the corners of the buttons */
    text-decoration: none; /* Removes the underline from the link */
    transition: -colorbackground 0.3s; /* Adds a transition effect when hovering */
    flex: 0 0 auto; /* Don't grow or shrink the button */
    width: 300px; /* Third of the container width minus margin */
    height: 100px; /* Set a fixed height */
    box-sizing: border-box; /* Include padding and border in the width and height */
}

.btn-large:hover {
    background-color: #2c99ff; /* Darkens the button color on hover */
}

.logout-icon {
    color: red; /* Set the icon color to red */
    font-size: 1.5rem;
}


.footer {
    width: 100%;
    color: white; /* Light text color for contrast */
    text-align: center; /* Center the text */
    position: absolute; /* Position at the bottom */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    font-size: 0.9rem; /* Smaller font size */
}

.footer-link {
    color: #007bff; /* Set the link color to blue */
    text-decoration: none; /* No underline */
}

.footer-link:hover, .footer-link:focus {
    text-decoration: underline; /* Underline on hover/focus for better accessibility */
}
