.center-title {
    text-align: center;
}

.exercise-section {
    margin-top: 20px;
}

.full-width-card img {
    background-image: url('/img/background_accueil.jpg');;
    color: white;
    width: 100%;
    /* Ensures the image covers the full width of the card */
    height: 150px;
    /* Reduced height from previously larger sizes */
    object-fit: cover;
    /* Covers the height and width specified without distorting the image */
}

.full-width-card {
    background-color: #f8f9fa ;
    margin-bottom: 20px;
    /* Adds space between the cards */
    border: 1px solid black;
    /* Thin black border */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for depth */
}

.container {
    max-width: 900px;
}

body {
    background-color: #202b3f;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    background-image: url('/img/background_accueil.jpg');;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu {
    
    background-color: #f8f9fa ;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #202b3f;
    font-weight: bold;
}

.list-group-item {
    background-color: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    margin-top: 20px;    
    background-image: url('/img/background_accueil.jpg');;
    color: white;
}

.main-content {
    text-align: center;
}

.logo img {
    max-height: 100px;
    /* Ajustez la hauteur maximale selon vos besoins */
    max-width: 100%;
    /* Garantit que l'image ne dépasse pas la largeur du conteneur */
}

.photo-preview-container {
    width: 50px;
    /* Définir la largeur du conteneur */
    height: 50px;
    /* Définir la hauteur du conteneur */
    overflow: hidden;
    /* Cacher tout contenu dépassant du conteneur */
    border-radius: 50%;
    /* Créer un cercle en utilisant un bord arrondi à 50% de la largeur/hauteur */
    display: inline-block;
    /* Permet d'aligner l'élément à côté de l'input */
    margin-left: 10px;
    /* Ajuster la marge pour l'espacement */
}

.photo-profil-preview {
    width: 50px;
    /* Définir la largeur du cercle */
    height: 50px;
    /* Définir la hauteur du cercle */
    object-fit: cover;
    /* Couvrir tout le cercle tout en préservant les proportions de l'image */
    border-radius: 50%;
    /* Assurer que l'image est affichée en tant que cercle */
    display: block;
    /* Résoudre tout problème d'espacement supplémentaire */
    margin-top: 5px;
    /* Ajuster la marge supérieure pour l'espacement */
}

.profile-photo {
    width: 50px;
    /* Ajustez la taille selon vos besoins */
    height: 50px;
    border-radius: 50%;
    /* Pour une photo de profil arrondie */
    margin-right: 10px;
    /* Espace entre la photo et le texte */
}

.logo {
    margin-right: 10px;
    /* Permet au logo de rester à gauche */
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: helvetica;
    text-align: left;
    margin-left: 15px;
    margin-top: 1rem;
}

.header-links {
    margin-left: auto;
    /* Permet au contenu des liens de rester à droite */
}

.header-links a {
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
}

.footer-basic {
    padding: 20px 0;
    background-color: #ffffff;
    color: white;
    color: #000000;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 15px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 10px;
    margin-top: 20px;
}

.logout-icon {
    color: red; /* Set the icon color to red */
    font-size: 1.5rem;
}