body {
    font-family: 'Arial', sans-serif;
    background-size: cover; 
    background-color: #202b3f;
    color: #202b3f;
    text-align: left;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top:  40px;
    border-radius: 2rem;
    text-align: left;
    color: #202b3f;
}

h1 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.btn-submit:hover {
    background-color: #4cae4c;
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    color: #5cb85c;
    text-decoration: none;
}

.btn-back:hover {
    text-decoration: underline;
}


.logout-icon {
    color: red; /* Set the icon color to red */
    font-size: 1.5rem;
}