body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    /* Réduire la largeur maximale à 600px */
    max-height: fit-content;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-left: 25px;
    /* Décaler le conteneur vers la gauche */
}

.header {
    color: #ffffff;
    padding: 10px;
    display: flex;
}

.header-title {
    font-size: 4rem;
    font-weight: bold;
    font-family: helvetica;
    text-align: left;
    margin-left: 15px;
    margin-top: 1rem;
}

.header-links a {
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
}

.menu {
    background-color: #000000;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.list-group-item {
    background-color: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    margin-top: 4px;
}

.btn-hover:hover {
    background-color: #2962ff;
    /* Changement de couleur au survol */
    color: white;
}

/* Style pour le bouton "Mot de passe oublié" */
.text-decoration-underline:hover {
    text-decoration: underline;
}

/* Ajustement de l'alignement des éléments */
.form-group {
    text-align: left;
    /* Aligner les champs à gauche */
}

/* Alignement de l'option "Se souvenir de moi" avec les autres éléments */
.form-check {
    display: flex;
    align-items: center;
    /* Alignement vertical */
    justify-content: left;
    /* Alignement horizontal */
}

.form-check-input {
    margin-right: 5px;
    /* Espacement entre la case à cocher et le texte */
}

.main-content {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100px;
    /* Ajustez la hauteur maximale selon vos besoins */
    max-width: 100%;
    /* Garantit que l'image ne dépasse pas la largeur du conteneur */
}

.photo-preview-container {
    width: 50px;
    /* Définir la largeur du conteneur */
    height: 50px;
    /* Définir la hauteur du conteneur */
    overflow: hidden;
    /* Cacher tout contenu dépassant du conteneur */
    border-radius: 50%;
    /* Créer un cercle en utilisant un bord arrondi à 50% de la largeur/hauteur */
    display: inline-block;
    /* Permet d'aligner l'élément à côté de l'input */
    margin-left: 10px;
    /* Ajuster la marge pour l'espacement */
}

.photo-profil-preview {
    width: 50px;
    /* Définir la largeur du cercle */
    height: 50px;
    /* Définir la hauteur du cercle */
    object-fit: cover;
    /* Couvrir tout le cercle tout en préservant les proportions de l'image */
    border-radius: 50%;
    /* Assurer que l'image est affichée en tant que cercle */
    display: block;
    /* Résoudre tout problème d'espacement supplémentaire */
    margin-top: 5px;
    /* Ajuster la marge supérieure pour l'espacement */
}

.profile-photo {
    width: 50px;
    /* Ajustez la taille selon vos besoins */
    height: 50px;
    border-radius: 50%;
    /* Pour une photo de profil arrondie */
    margin-right: 10px;
    /* Espace entre la photo et le texte */
}


.containerfooter {
    max-width: 95%; /* Réduire la largeur maximale à 600px */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.footer {
    width: 100%;
    color: white; /* Light text color for contrast */
    text-align: center; /* Center the text */
    position: absolute; /* Position at the bottom */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    font-size: 0.9rem; /* Smaller font size */
}

.footer-link {
    color: #007bff; /* Set the link color to blue */
    text-decoration: none; /* No underline */
}

.footer-link:hover, .footer-link:focus {
    text-decoration: underline; /* Underline on hover/focus for better accessibility */
}



