/* Styles pour le menu latéral */
.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 163px;
    /* Ajustez la hauteur pour laisser de l'espace avec l'en-tête */
    left: 0;
    background-color: #000000;
    /* Couleur de fond du menu latéral */
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
}

.sidebar ul {
    color: white;
}

.sidebar a:hover {
    color: #ffffff;
}

.main-content {
    margin-left: 120px;
    /* Largeur du menu latéral */
    padding: 12px;
}

.center-title {
    text-align: center;
}
.main-content {
    padding: 20px;
    margin-left: 220px; /* ajustez la marge en fonction de la largeur de votre barre latérale */
}
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
}