/* Styles pour le menu latéral */
.sidebar {
    height: 100%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 163px;
    /* Ajustez la hauteur pour laisser de l'espace avec l'en-tête */
    left: 0;
    background-color: #343a40;
    /* Couleur de fond du menu latéral */
    overflow-x: auto;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
}

.sidebar ul {
    color: white;
}

.sidebar a:hover {
    color: #ffffff;
}

.main-content {
    margin-left: 120px;
    /* Largeur du menu latéral */
    padding: 12px;
}

.center-title {
    text-align: center;
}
.main-content {
    padding: 20px;
    margin-left: 250px; /* ajustez la marge en fonction de la largeur de votre barre latérale gauche */
    margin-right: 520px; /* ajustez la marge en fonction de la largeur de votre barre latérale droite */
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        margin-right: 0;
    }
}
/* Styles spécifiques pour le menu latéral droit */
.right-sidebar {
    background-color: #343a40;
    color: white;
    padding: 20px;
    position: absolute;
    top: 163px; /* Ajustez la position par rapport à l'en-tête */
    right: 0;
    height: 100%;
    width: 500px; /* Ajustez la largeur selon vos besoins */
    overflow-y: auto;
}

.right-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.right-sidebar ul li {
    margin-bottom: 10px;
}

.right-sidebar ul li a {
    color: white;
    text-decoration: none;
}

.right-sidebar ul li a:hover {
    color: #17a2b8;
}

.sql-command {
    background-color: #f0f0f0;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-list li {
    padding: 5px 0;
}

.sidebar-list li a {
    color: #333; /* Couleur du texte */
    text-decoration: none;
}

.sidebar-list li a:hover {
    color: #007bff; /* Couleur du texte au survol */
}











.logout-icon {
    color: red; /* Set the icon color to red */
    font-size: 1.5rem;
}