body {
    background-color: #f8f9fa;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.header {
    background-image: url('/img/background_accueil.jpg');;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu {
    border: 1px solid #202b3f; /* Ajout de la bordure solide de 2 pixels */
    background-color: #f8f9fa;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.menu a {
    text-decoration: none;
    color: #202b3f;
    font-weight: bold;
}
.logo {
    margin-right: 10px; /* Permet au logo de rester à gauche */
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: helvetica;
    margin-top: 1rem;
    margin-right: auto;
}

.header-links {
    margin-left: auto; /* Permet au contenu des liens de rester à droite */
}

.header-links a {
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
}


.list-group-item {
    background-color: #ffffff;
    margin-bottom: 5px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    margin-top: 20px;
}

.main-content {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100px; /* Ajustez la hauteur maximale selon vos besoins */
    max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur du conteneur */
}

.photo-preview-container {
    width: 50px; /* Définir la largeur du conteneur */
    height: 50px; /* Définir la hauteur du conteneur */
    overflow: hidden; /* Cacher tout contenu dépassant du conteneur */
    border-radius: 50%; /* Créer un cercle en utilisant un bord arrondi à 50% de la largeur/hauteur */
    display: inline-block; /* Permet d'aligner l'élément à côté de l'input */
    margin-left: 10px; /* Ajuster la marge pour l'espacement */
}

.photo-profil-preview {
    width: 50px; /* Définir la largeur du cercle */
    height: 50px; /* Définir la hauteur du cercle */
    object-fit: cover; /* Couvrir tout le cercle tout en préservant les proportions de l'image */
    border-radius: 50%; /* Assurer que l'image est affichée en tant que cercle */
    display: block; /* Résoudre tout problème d'espacement supplémentaire */
    margin-top: 5px; /* Ajuster la marge supérieure pour l'espacement */
}

.profile-photo {
    width: 50px; /* Ajustez la taille selon vos besoins */
    height: 50px;
    border-radius: 50%; /* Pour une photo de profil arrondie */
    margin-right: 10px; /* Espace entre la photo et le texte */
}

.footer-sidebar {
    bottom: 0;
    left: 0;
    width: 100%; /* Couleur de fond de votre choix /
    color: white; / Couleur du texte de votre choix /
    padding: 20px; / Espace intérieur de votre choix */
}
.table-responsive {
    max-height: 200px; /* Réduire la hauteur maximale pour limiter la taille du tableau */
    max-width: auto; /* Réduire la largeur maximale pour limiter la taille du tableau */
    overflow: auto; /* Ajouter une barre de défilement si nécessaire */
    float: left; /* Aligner le tableau à gauche */
    margin-right: 20px; /* Ajouter un espace à droite du tableau */
}

.table {
    font-size: 12px; /* Réduire la taille de la police */
}

.table th,

.table td {
    padding: 5px; /* Réduire l'espacement entre les cellules */
}

.custom-modal-dialog {
    max-width: 600px; /* Augmentez la largeur maximale selon vos besoins */
    width: 90%; /* Utilisez une largeur de 90% pour s'adapter à différentes tailles d'écrans */
}
/* Style pour l'alerte dans le footer */
.custom-modal-footer .alert {
    background-color: #ffe2b3; /* Couleur de fond de l'alerte */
    color: #093942; /* Couleur du texte de l'alerte */
    border-color: #000000; /* Couleur de la bordure de l'alerte */
    margin-bottom: 10px; /* Marge inférieure de l'alerte */
}

/* Style pour le footer de la modal */
.custom-modal-footer {
    background-color: #f8f9fa; /* Couleur de fond du footer */
    border-top: 1px solid #dee2e6; /* Bordure supérieure du footer */
    padding: 10px; /* Espacement intérieur du footer */
    width: 100%;
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
}

/* Style pour le contenu de la modal */
.custom-modal-body {
    padding: 20px; /* Espacement intérieur du contenu */
}

/* Style pour le titre de la modal */
.custom-modal-title {
    background-color: #007bff; /* Couleur de fond du titre */
    color: #ffffff; /* Couleur du texte du titre */
    padding: 15px; /* Espacement intérieur du titre */
    border-bottom: 1px solid #dee2e6; /* Bordure inférieure du titre */
}

/* Style pour le bouton de fermeture */
.custom-modal-close {
    color: #ffffff; /* Couleur du texte du bouton de fermeture */
}

/* Style pour le bouton 'Question suivante' */
.custom-modal-footer .btn-success {
    width: 100%; /* Largeur du bouton */
    padding: 10px; /* Espacement intérieur du bouton */
}

/* Styles généraux pour la barre de progression */
.progress {
    height: 30px; /* Hauteur plus grande pour une meilleure visibilité */
    background-color: #f3f3f3; /* Couleur de fond légère */
    border-radius: 15px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre subtile pour un effet 3D */
}

.progress-bar {
    font-size: 16px; /* Taille de texte plus grande pour la lisibilité */
    line-height: 30px; /* Centrer le texte verticalement */
    color: white; /* Texte blanc pour contraste */
    background-image: linear-gradient(45deg, #6a82fb, #fc5c7d); /* Gradient de couleur */
    transition: width 0.4s ease; /* Animation douce lors de la mise à jour */
}

.logout-icon {
    color: red; /* Set the icon color to red */
    font-size: 1.5rem;
}