body {
    background-color: #f8f9fa;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.forum-content {
    margin-top: 20px;
}
.category-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.category-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.topic-list {
    list-style-type: none;
    padding: 0;
}
.topic-item {
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
}
.topic-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.topic-details {
    font-size: 0.9rem;
    color: #555555;
}
.btn {
    margin-top: 20px;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    /* Couleur de fond de votre choix */
    color: white;
    /* Couleur du texte de votre choix */
    padding: 5px;
    /* Espace intérieur réduit */
    text-align: center;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    /* Largeur maximale pour éviter qu'il ne s'étende trop */
    margin: 0 auto;
    /* Centrez la barre sur la page */
}

.footer-info__item {
    flex-grow: 1;
    /* Les éléments prennent autant d'espace que possible */
    text-align: left;
    /* Alignez le texte à gauche */
}

.footer-info__title {
    font-weight: bold;
    font-size: 0.9rem;
    /* Taille du titre réduite */
}

.footer-info__contact {
    list-style: none;
    /* Supprimez les puces de la liste */
    padding: 0;
    /* Supprimez le remplissage par défaut de la liste */
    margin-top: 5px;
    /* Espacement supplémentaire réduit au-dessus de la liste */
}

.footer-info__contact-item {
    margin-bottom: 0px;
    /* Espacement entre les éléments de la liste réduit */
    font-size: 0.8rem;
    /* Taille du texte réduite */
}


.logout-icon {
    color: red; /* Set the icon color to red */
    font-size: 1.5rem;
}